<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todoList</title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.2.9/angular.min.js"></script>
</head>

<body ng-app="todo" ng-controller="todoList">

<form ng-submit="add()">
    <input type="text" ng-model="doing" name="doing" placeholder="doing">
    <button>add</button>
</form>
<ul>
    <li ng-repeat="todo in todos">
        <span>{{todo.doing}}</span>
        <input type="checkbox" ng-model='todo.done'>
    </li>
</ul>
<div>todoList:{{todos.length}}</div>
<div>todo:{{listTodo()}}</div>
</body>

<script>
    var todo = angular.module('todo', []);
    todo.controller('todoList', ['$scope', function ($scope) {
        $scope.todos = [];
        $scope.add = function () {
            console.log($scope.doing);
            $scope.todos.push({doing: $scope.doing, done: false});
            $scope.doing = '';
        }

        $scope.listTodo=function () {
            var count=0;
            $scope.todos.forEach(function(ele){
                count += ele.done ? 0 : 1;
            });
            return count;
        }
    }])
</script>
</html>
